body{
  margin: 0;
}
.animate {
  animation:slide 3s ease-in-out infinite alternate;
}
.bg {
  background-image: linear-gradient(-80deg, rgb(44, 129, 2) 50%, rgb(255, 255, 255) 50%);
  bottom:0;
  left:-15%;
  opacity:.5;
  position:fixed;
  right:-75%;
  top:0;
  z-index:-1;
  }
  
  .bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
  }
  
  .bg3 {
  animation-duration:5s;
  }

.login{
  display: flex;
  justify-content: center;
  padding-top: 15vh;
}

.menuIcon {
 display: flex;
 padding: 10px;
 
}
.menuIcon:hover{
  cursor: pointer;
}

.center{
  display: flex;
  justify-content: center;
}
.verticalCenter{
  align-items: center;
}
.spaceRight{
  position: absolute;
  right: 100px;
  display: flex;
  
}
.buttonLink{
  color: white;
  text-decoration: none;
}
.topPadding3vh{
  padding-top: 3vh;
}

@keyframes slide {
  0% {
  transform:translateX(0%);
  }
  
  100% {
  transform:translateX(-5%);
  }
  }